@model AnındaKapında.MVC.Models.WorkerReponseModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "AddSuppyOfficer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <form asp-action="AddSuppyOfficer" asp-controller="AdminUser" method="post">
            <div class="container mt-3">
                <h5 class="card-title text-center">New Supply Officer Page</h5>
                <label class="form-label">Name</label>
                <input class="form-control mb-3" type="text" asp-for="Name" />

                <label class="form-label">Surname</label>
                <input class="form-control mb-3" type="text" asp-for="SurName" />

                <label class="form-label">E-Mail</label>
                <input class="form-control mb-3" type="text" asp-for="Email" />

                <label class="form-label">Password</label>
                <input class="form-control mb-3" type="text" asp-for="Password" />

                <label class="form-label">Phone Number</label>
                <input class="form-control mb-3" asp-for="PhoneNumber" />

                <label class="form-label">Birtdate</label>
                <input type="date" class="form-control mb-3" asp-for="BirthDate" />

                <button class="btn btn-outline-success" onclick="return confirm('Wanna Add This Worker?')" type="submit">Add Worker</button>
            </div>
        </form>
    </div>
</div>

